.menu {
  align-items: center;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 50px;
  transition: width 0.5s ease-out;

  &[data-display-menu=true] {
    width: 200px;
  }

  &__button {
    height: 20px;
    left: 15px;
    position: fixed;
    top: 15px;
    transition: color 0.4s;
    width: 20px;

    &:hover {
      color:#c7af70;
    }
  }

  .menu-button {
    display:  inline-block;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;

    & span {
      margin: 0 auto;
      position: relative;
      top: 6px;
    }

    & span:before, & span:after {
      position: absolute;
      content: '';
    }

    & span, & span:before, & span:after {
      width: 20px;
      height: 2px;
      background-color: white;
      display: block;
    }

    & span:before {
      margin-top: -6px;
    }
  
    & span:after {
      margin-top: 6px;
    }
  
    & span {
      -webkit-transition-duration: 0s; transition-duration: 0s;
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
    }
  
    & span:before {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }

    & span:after {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
  }

  .menu-button-open {

    & span {
      background-color: black;
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
    }

    & span:before {
      margin-top: 0;
      -webkit-transform: rotate(45deg); transform: rotate(45deg);
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }

    & span:after {
      margin-top: 0;
      -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
    }
  }

  &__section {
    transition: opacity 0.1s ease-out;
    font-size: 12px;
    margin: 30px 0px;
    opacity: 0;
    pointer-events: none;

    &:hover {
      color: #c7af70;
    }

    &[data-display-menu=true] {
      opacity: 1;
      pointer-events: visible;

      &:nth-child(1) {
        transition: color 0.4s, opacity 0.6s ease-out 0.3s;
      }

      &:nth-child(2) {
        transition: color 0.4s, opacity 0.6s ease-out 0.35s;
      }

      &:nth-child(3) {
        transition: color 0.4s, opacity 0.6s ease-out 0.4s;
      }

      &:nth-child(4) {
        transition: color 0.4s, opacity 0.6s ease-out 0.45s;
      }

      &:nth-child(5) {
        transition: color 0.4s, opacity 0.6s ease-out 0.5s;
      }

      &:nth-child(6) {
        transition: color 0.4s, opacity 0.6s ease-out 0.55s;
      }

      &:nth-child(7) {
        transition: color 0.4s, opacity 0.6s ease-out 0.6s;
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 20px;
    width: 200px;
    display: flex;
    left: 0px;
    justify-content: space-around;
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.1s ease-out;

    &[data-display-menu=true] {
      transition: opacity 0.6s ease-out;
      pointer-events: visible;
      transition-delay: 0.65s;
      opacity: 1;
    }

    a {
      margin: 15px 30px;
      transition: color 0.4s;
      color: white;
      text-decoration: none;

      &:hover {
        color: #c7af70;
      }  
    }
  }
}
