.menu {
  align-items: center;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 50px;
  transition: width 0.5s ease-in;

  &[data-display-menu=true] {
    width: 200px;
  }

  &__button {
    height: 20px;
    left: 15px;
    position: fixed;
    top: 15px;
    width: 20px;
  }

  &__section {
    transition: opacity 0.3s ease-out, color 0.5s;
    font-size: 12px;
    margin: 40px 0px;
    opacity: 0; 

    &:hover {
      color: #c7af70;
    }

    &[data-display-menu=true] {
      opacity: 1;
    }
  }
}
