.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid white;
  flex-direction: column;

  span {
    &:nth-child(2) {
      font-size: 28px;
      margin: 20px 0px;
    }
  }
}
